*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color:rgba(191, 129, 252, 0.785);
    width: 100%;
    position: fixed;
    z-index: 1000 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.r.header{
    background-color:rgba(191, 129, 252, 0.785);
    width: 100%;
    position: fixed;
    z-index: 1000 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}



.logo{
    text-decoration: none;
    color: rgb(255, 255, 5);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}



.navagation a{
    color:  rgb(255, 255, 5);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 400;
    padding-left: 30px;
}

.navagation a:hover{
    color: blueviolet;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(TwinkleLogo.png) no-repeat;
    background-position: right;
    background-size: contain;
    background-attachment: fixed;
    
}

section{
    padding: 100px 200px;
}

.main h2{
    color:rgba(191, 129, 252, 0.785);
    font-size: 4em;
    font-weight: 900;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rgba(191, 129, 252, 0.785);
    font-size: 1.4em;
    font-weight: 500;
}

main h3{
    color: blueviolet ;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-btn{
    color: blueviolet;
    background-color: rgb(255, 255, 5);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top: 10px;
    transition: 0.7s ease;
    display: flex;
    justify-content: center;
}

.main-btn:hover{
    background-color: rgb(179, 247, 231);
    transform: scale(1.1);
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color:rgba(191, 129, 252, 0.785);
    width: 25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /50%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px ;
    line-height: 200%
}

.cardy {
    background-color: #fbf476;;
    width: 25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /50%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px ;
    line-height: 200%
}

.icon img{
    width: 100%;
    height: 40%;
    text-align: center;
    margin-bottom: 10px;
}

.info{
    text-align: center;
    margin-bottom: 5px;
}

.info h3{
    color: rgb(255, 255, 5);
    font-size: 1.2em;
    font-weight: 600;
    margin: 10px;
}

.info strong{
    display: inline-block;
}
/*lena*/
h2.JRLTitle{
    color: blueviolet;
    font-size: 2.2em;
    font-weight: 800;
    padding: 10% 10% 7% 10%;
    text-align: center;
}
.JRsContent{
    margin-left: 380px;
}
.req-container{
    margin-bottom: 60px;
    background-color: rgba(191, 129, 252, 0.785);
    width: 40em;
    padding: 23px;
    margin: 12px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 50%);
}
.req-info{
    text-align: center;
    font-size: larger;
}
.req-info p{
    margin-bottom: 9px;
    color: darkslategrey
}
.req-info a{
    text-decoration: none;
    width: 200px;
    margin: 0 175px;
    border-radius: 15px;
    background-color: rgb(255, 255, 5);
    font-weight: 600;
    color: blueviolet;
    font-size: 1.1em;
    padding: 10px 113px;
    letter-spacing: 1px;
    margin-top: 20px;
    transition: 0.7s ease;
    display: flex;
    justify-content: center;
}
.req-info a:hover{
    background-color:  rgb(179, 247, 231);
    transform: scale(1.1);
}
body{
    background-image: url(bkg2.jpg);
    background-size: cover;
}
.detailsBox{
    background-color: white;
    border-radius: 10px;
    margin-right: 260px;
    margin-left: 45px;
    box-shadow: 0 5px 25px rgba(1 1 1 /50%);
}
.innerDetailsBox{
    margin: 30px 40px 30px 20px;
    background-color: rgba(191, 129, 252, 0.785);
    border-radius: 15px;

}
/*lena*/

.center  {  display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: left;
    min-height: 100vh;
}


.btn-1 {
    background: #fbf476;
    
border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    border: 0ch;
    position: relative;
    left: 35%;
   
  }
  
  .btn-1:hover {
    background: #e9b20f;
    background-image: -webkit-linear-gradient(top, #e9b20f, #d9d634);
    background-image: -moz-linear-gradient(top, #e9b20f, #d9d634);
    background-image: -ms-linear-gradient(top, #e9b20f, #d9d634);
    background-image: -o-linear-gradient(top, #e9b20f, #d9d634);
    background-image: linear-gradient(to bottom, #e9b20f, #d9d634);
    text-decoration: none;
   

    
  }


  .btn-2 {
    background: #a910e6;

    background-color: #cd88eb;

    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    justify-content: space-evenly;
    text-decoration: none;
    border: 0ch;
    position: relative;
    left: 35%;
  }
  
  .btn-2:hover {
    background: #bf81fc;
    background-image: -webkit-linear-gradient(top, #bf81fc, #8547c4);
    background-image: -moz-linear-gradient(top, #bf81fc, #8547c4);
    background-image: -ms-linear-gradient(top, #bf81fc, #8547c4);
    background-image: -o-linear-gradient(top, #bf81fc, #8547c4);
    background-image: linear-gradient(to bottom, #bf81fc, #8547c4);
    text-decoration: none;
  }

  .mytitle {
margin:30px 30px ;
font-size: xx-large;
color: #000;

  }